<footer>
    <div class="container">
         <div class="footer-infos">
            <div class="column1">
                <p>Este projeto te ajuda a conhecer mais detalhes sobre termos mais buscados pelos brasileiros.</p>
            </div>
            <div class="column2">
                <p><strong>Design e desenvolvimento: </strong><a href="https://www.agenciatatu.com.br/" target="_blank">Agência Tatu</a></p>
                <p><strong>Dados e automação: </strong><a href="https://www.linkedin.com/in/carinadourado" target="_blank">Carina Dourado</a></p>
                <p><strong>Coordenação Google Trends: </strong><a href="https://gabrielacaesar.github.io/" target="_blank">Gabriela Caesar</a>, <a href="https://twitter.com/keilacguimaraes" target="_blank">Keila Guimarães</a> e <a href="https://simonrogers.net/" target="_blank">Simon Rogers</a></p>
                <p><strong>Coordenação Folha: </strong><a href="https://www.folha.com.br/" target="_blank">XXXXX</a>, <a href="https://www.folha.com.br/" target="_blank">XXXXX</a> e <a href="https://www.folha.com.br/" target="_blank">XXXXX</a></p>
                <p><strong>Consultor visual: </strong><a href="https://albertocairo.com/" target="_blank">Alberto Cairo</a></p>
            </div>
            
            <div class="column3">
                <div class="folha">
                    <p>um projeto</p>
                    <a href="https://www.folha.com.br/" target="_blank">
                        <img class="folha" src="../imagens/logo-folha.png" alt="">
                    </a>
            
                </div>
                <div class="trends">
                    <p>em parceria com</p>
                    <a href="https://trends.google.com.br/trends/" target="_blank">
                        <img class="trends" src="../imagens/logo-google-trends.svg" alt="" >
                    </a>
                </div>
            </div>
         </div>

         <div class="footer-politics">
            <div>
                <a href="/politica-privacidade">Política de privacidade</a>
            </div>
            
        </div>
        
    </div>
    
</footer>