<footer>
    <div class="container">
         <div class="footer-infos">
            <div class="column1">
                <p>Este projeto te ajuda a conhecer mais detalhes sobre termos mais buscados pelos brasileiros.</p>
            </div>
            <div class="column2">
                <p><strong>Design e desenvolvimento: </strong><a href="https://www.agenciatatu.com.br/">Agência Tatu</a></p>
                <p><strong>Dados e automação: </strong><a href="https://www.linkedin.com/in/carinadourado">Carina Dourado</a></p>
                <p><strong>Coordenação Google Trends: </strong><a href="#">Gabriela Caesar, Keila Guimarães e Simon Rogers</a></p>
                <p><strong>Coordenação UOL: </strong><a href="#">XXXXXX</a></p>
                <p><strong>Consultor visual: </strong><a href="#">Alberto Cairo</a></p>
                    
            </div>
            <div class="column3">
                <div class="uol">
                    <p>um projeto</p>
                    <a href="https://www.uol.com.br/" target="_blank">
                        <img class="uol" src="../imagens/uol-logo-full.svg" alt="">
                    </a>
            
                </div>
                <div class="trends">
                    <p>em parceria com</p>
                    <a href="https://trends.google.com.br/trends/" target="_blank">
                        <img class="trends" src="../imagens/logo-google-trends.svg" alt="" >
                    </a>
                </div>
            </div>
         </div>

         <div class="footer-politics">
            <div>
                <a href="politica-privacidade">Política de privacidade</a>
            </div>
            
        </div>
        
    </div>
    
</footer>