<section class="container-menu">
    <div class="column-1"></div>
    <div class="column-2 menu-topo">
      <nav class="options-menu">
        <div class="icon-close">
          <img src="../imagens/icon-close.png" alt="">
        </div>
        <a href="/" class="menu home">Início</a>
        <a href="/sobre" class="menu sobre">sobre o projeto</a>
        <a href="/equipe" class="menu projetos">quem faz</a>
        <a href="/termos" class="menu termos">todos os termos</a>
        <a href="/politica-privacidade" class="menu habilidades">política de privacidade</a>
        <img src="" alt="">
      </nav>
    </div>
    <div class="column-3"></div>
  </section>